{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="row justify-content-start">
<div class="col-md-8">
<div id="detail_content">
  <form  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <div >      {{ staff_form.name|as_crispy_field }}</div>
      <div >      {{ staff_form.job_title|as_crispy_field }}</div>
      <div >       {{ staff_form.salary|as_crispy_field }}</div>
      <div >       {{ staff_form.parent|as_crispy_field }}</div>
    <input type="submit" value="Add Staff">
  </form>
</div>
</div>
</div>
{% endblock %}